/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.page{
  flex-direction: column;
  /* position:absolute; */
  border: 2px solid #000;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10px;
  padding: 15px;
}

header, h2, h3, h6{
  text-align: center;
} 

.row-shelf{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.photo, .funFact, .score{
  border: 2px solid #000;
}

.incorrectScore{
  text-align: center;
  border: 2px solid #000;
}